.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.header__lang-link:first-of-type {
  /*text-decoration: underline;*/
  padding-right: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
  font-size: 18px;
  line-height: 1.1;
  }
}
/*
@media screen and (max-width: 1280px) {
  .header__lang-link {
  font-size: 24px;
  line-height: 28px;
  }
}
*/
