.lead {
  /*text-align: center;*/
  margin: 0;
  width: 100%;
  max-width: 1080px;
  font-size: 0;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .lead {
    max-width: 984px;
    /*padding-left: 48px;
    padding-right: 48px;*/
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
   /* max-width: 768px;*/
  }
}
/*
@media screen and (max-width: 767px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
    max-width: 320px;
  }
}
