.cover__subtitle {
  /*position: absolute;*/
  /*white-space: pre-line;*/
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  padding-top: 32px;
}

@media screen and (max-width: 630px) {
  .cover__subtitle {
    padding-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: 114%;
  }
}
