.lead__photo {
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width: 1000px) {
  .lead__photo {
    padding-left: 0;
    padding-right: 0;
   }
}

@media screen and (min-width: 1200px) {
  .lead__photo {
    padding-left: 0;
    padding-right: 0;
    max-width: 984px;
  }
}
