.header {
  width: 90%;
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 95%;
    padding: 16px 16px 0;
  }
}
