/*.lead__image {
  max-width: 984px;
  font-size: 0;
  text-align: center;
  margin: auto;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
}*/

.lead__image {
  width: 100%;
  min-width: 928px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .lead__image {
    width: 100%;
    min-width: 320px;
  }
}


