.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  margin: 92px 0 40px;
}

@media screen and (max-width: 759px) {
  .intro__title {
  font-size: 32px;
  line-height: 35px;
  margin: 64px 0 40px;
  }
}

@media screen and (max-width: 900px) and (min-width: 760px) {
  .intro__title {
    margin: 88px 0 40px;
  }
}
